<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Đấu Trường Tiếng Anh</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <%= javascript_include_tag 'landing', 'data-turbolinks-track' => 'reload'%>
      <%= stylesheet_link_tag 'landing' , media: 'all', 'data-turbolinks-track' => 'reload'%>

      <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/images/ico/favicon.ico">
   </head>
   <body>
      <!-- Top menu -->
      <nav class="navbar navbar-fixed-top navbar-no-bg" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">Bootstrap Navbar Menu Template</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Video</a></li>
                  <li><a href="#">Clients</a></li>
                  <li><a href="#">Plans</a></li>
                  <li><a href="#">Faq</a></li>
                  <li><%= link_to "Đăng Nhập", new_user_session_path,  class: "btn btn-link-3" %></li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Top content -->
      <div class="top-content">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 text wow fadeInLeft">
                  <h1>Bootstrap Navbar Menu Template</h1>
                  <div class="description">
                     <p class="medium-paragraph">
                        This is a free "Navbar Menu" made with the Bootstrap framework.
                        Download it on <a href="http://azmind.com">AZMIND</a> and enjoy!
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Features -->
      <div class="features-container section-container">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 features section-description wow fadeIn">
                  <h2>Bootstrap Navbar Menu</h2>
                  <div class="divider-1">
                     <div class="line"></div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6 features-box wow fadeInLeft">
                  <div class="row">
                     <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-twitter"></i>
                     </div>
                     <div class="col-sm-9">
                        <h3>Ut wisi enim ad minim</h3>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                           Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 features-box wow fadeInLeft">
                  <div class="row">
                     <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-instagram"></i>
                     </div>
                     <div class="col-sm-9">
                        <h3>Sed do eiusmod tempor</h3>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                           Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6 features-box wow fadeInLeft">
                  <div class="row">
                     <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-magic"></i>
                     </div>
                     <div class="col-sm-9">
                        <h3>Quis nostrud exerci tat</h3>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                           Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 features-box wow fadeInLeft">
                  <div class="row">
                     <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-cloud"></i>
                     </div>
                     <div class="col-sm-9">
                        <h3>Minim veniam quis nostrud</h3>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                           Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-sm-12 footer-copyright">
                  &copy; Bootstrap Navbar Template by <a href="http://azmind.com">AZMIND</a>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
