<h1>Home page</h1>
<% if current_user %>
  <div class="page-header">
    <h1>Here is some info about you...</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong>Provider:</strong> <%= current_user.provider %></li>
        <li><strong>uID:</strong> <%= current_user.uid %></li>
      </ul>
    </div>
  </div>
<% else %>
  <h1>Chua log gin</h1>
<% end %>

<%= link_to "Logout", destroy_user_session_path, :method => :delete %>