.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

.hidden {
  display: none;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

$bgDefault:#0F589A;
$bgHighlight: #0F589A;
$colDefault: #ffffff;
$colHighlight: #ffffff;

.navbar-custom {
  background-color: $bgDefault !important;
  border-color: $bgHighlight !important;

  .navbar-brand {
    color: $colDefault !important;

    &:hover, &:focus {
      color: $colHighlight !important;
    }

  }

  .navbar-text {
    color: $colDefault !important;
  }

  .navbar-nav {
    > li {
      > a {
        color: $colDefault !important;

        &:hover, &:focus {
          color: $colHighlight !important;
        }

      }

    }

    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight !important;
        background-color: $bgHighlight !important;
      }

    }

    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight !important;
        background-color: $bgHighlight !important;
      }

    }

  }

  .navbar-toggle {
    border-color: $bgHighlight !important;

    &:hover, &:focus {
      background-color: $bgHighlight !important;
    }

    .icon-bar {
      background-color: $colDefault !important;
    }

  }

  .navbar-collapse, .navbar-form {
    border-color: $colDefault !important;
  }

  .navbar-link {
    color: $colDefault !important;

    &:hover {
      color: $colHighlight !important;
    }

  }

}

@media (max-width:767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault !important;

      &:hover, &:focus {
        color: $colHighlight !important;
      }

    }

    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight !important;
        background-color: $bgHighlight !important;
      }

    }

  }

}

.navbar {
  border-radius: 0 !important;
}

$font-size: 15px;
$line-height: 1.4;
$lines-to-show: 3;

.block-ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-always-top{
  width: 100%;
  position: fixed;
  min-height: 50px;
  z-index: 120;
  border: 0;
  top: 0;
}
