<!DOCTYPE html>
<html>
<head>
  <title>Đấu Trường Tiếng Anh</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'hello-world-bundle' %>
  <%= javascript_pack_tag 'hello-world-bundle' %>
</head>

<body>
  <%= yield %>
</body>
</html>
