<!DOCTYPE html>
<html lang="en">
<head>
  <title>Đấu Trường Tiếng Anh</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'bundle-main' %>
  <%= javascript_pack_tag 'bundle-main' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%= yield %>
</body>
</html>
